*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display: grid;
    place-items: center;
    height: 100vh;
}
/* ------------------------ */
.drop-list{
    background-color: #c0c0c0;
    width: 400px;
    height: 400px;
    display: grid;
    place-items: center;
}
.drop-list>input{
    display: none;
}
.drop-btn{
    width: 13vw;
    height: 3vh;
    background-color: #fff;
    border-radius: 10px;
    display: grid;
    place-items: center; 
    user-select: none;
    transition: 0.5s;
}
.drop-btn:hover{
    transform: scale(1.1);
    background-color: black;
    color: white;
    transition: 1s;
}
.content{
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #fff;
    height: 13vh;
    padding: 2vh 2vw;
    border-radius: 10px;
    display: none;
}
.content>a{
    text-decoration: none;
    color: black;
}
.drop-list>input:checked ~ .content{
    display: flex;
    user-select: none;
    position: absolute;
    animation-name: Drop-list;
    animation-duration: 1s;
    animation-iteration-count: 1s;
    animation-fill-mode: forwards;
}
.drop-list>input:not(:checked) ~ .content{
    display: flex;
    user-select: none;
    position: absolute;
    animation-name: Up-list;
    animation-duration: 1s;
    animation-iteration-count: 1s;
    animation-fill-mode: forwards;
}

@keyframes Drop-list{
    0%{
        opacity: 0;
        top: 50vh;
    }
    100%{
        top: 54vh;
    }
}
@keyframes Up-list{
    0%{
        top: 54vh;
    }
    90%{
        opacity: 0;
    }
    100%{
        top: 50vh;
        opacity: 0;
        display: none;
    }
}